{
    "presets": [
      "next/babel",
      "@zeit/next-typescript/babel"
    ],
    "plugins": [
        ["module-resolver", {
          "root": ["."],
          "alias": {
            "@": "components",
            "@lib": "lib",
            "@style": "assets/styles"
          }
        }]
    ]
}