.layout_footer {
    position: fixed;
    z-index: 1;
    bottom: 0%;
    right: 0%;
    height: 10px;
    width: 100%;
    text-align: right;
    & h1 {
        font-size: 10px;
        color: #fff;
    }
}