* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
body {
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    position: fixed;
    z-index: 1;
}

a {
    text-decoration: none;

}
*:focus {
    outline: none;
}