* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
body {
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 200px 0 10px;
    position: fixed;
    z-index: 1;
}

a {
    text-decoration: none;

}
*:focus {
    outline: none;
}