.footer-global {
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 15;
  bottom: 0;
  transition: 1.5s;
  transition-timing-function: linear;
  &.home {
    padding-bottom: 26vh;
  }
  &.hide {
    padding-bottom: 20vh;
  }
  &.background1 {
    background: url("../images/footer/img-background-footer-grass1.png") top right repeat-x;
  }
  &.background2 {
    background: url("../images/footer/img-background-footer-grass2.png") top right repeat-x;
  }
  @media (max-width: 1024px) {
    & {
      display: none;
    }
  }
}