.nav-global-side-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  background: url("../images/navigation/img-background-global-navigation-bar.png") bottom right repeat-y;
  font-family: 'kukdetopokki';
  & * {
    margin-left: 15px;
  }
  & > .profile-group {
    color: #fff;
    & > img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      display: block;
      border: 2px dotted #fff;
    }
  }
  & dl {
    font-weight: bold;
    padding: 20px 0;
    & dt {
      float: left;
      margin-right: 6px;
      font-size: 17px;
      &::after {
        margin-left: 4px;
        content: ":";
      }
    }
    & dd {
      font-size: 30px;
      margin-bottom: 17px;
      &::after {
        clear: both;
      }
    }
  }
}

