@charset "UTF-8";
* { margin: 0 auto; padding: 0; list-style: none;}
a { text-decoration: none; }
*:focus { outline: none; }

main {
  position: relative;
}

body {
  animation: background-ani .3s infinite;
}

hr.post-hr {
  width: 99.8%;
  margin: 5px 0;
  text-align: center;
  border-style: groove;
}
div.btn-group {
  text-align: center;
  padding: 10px 0;
}
@keyframes background-ani {
  0% {
    background-color: #c1f1fd;
  }
  25% {
    background-color: #efa6ba;
  }
  50% {
    background-color: #c8a7f8;
  }
  75% {
    background-color: #fbeb89;
  }
  100% {
    background-color: #c1f1fd;
  }
}

section#mainScreen {
  width: 1024px;
  padding-left: 300px;
  transition: .5s;
  @media (max-width: 1323px) {
    padding-left: 0;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 1vw;
  }
}
.index-contents {
  font-family: 'kukdetopokkibold';
  text-align: center;
  font-size: 40px;
  top: 265px;
  position: absolute;
  width: 100%;
  @media (max-width: 1024px) {
    display: none;
  }
}
@font-face{
font-family:'kukdetopokki';
src:url('../fonts/SDKukdetopokki-aLt.eot');
src:local(※),
	url('../fonts/SDKukdetopokki-aLt.woff') format('woff');
}
@font-face{
font-family:'kukdetopokkibold';
src:url('../fonts/SDKukdetopokki-bBd.eot');
src:local(※),
	url('../fonts/SDKukdetopokki-bBd.woff') format('woff');
}

@import "@scss/variables.scss";
@import "@scss/globalNavigationBar.scss";
@import "@scss/header.scss";
@import "@scss/footer.scss";
@import "@scss/navigation.scss";
@import "@scss/mailForm.scss";
@import "@scss/loading.scss";
@import "@scss/modalAlert.scss";
@import "@scss/template.scss";
@import "@scss/postDetailList.scss";