@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
section#mainScreen {
  width: 1024px;
  padding-left: 300px;
  transition: .5s;
  @media (max-width: 1323px) {
    padding-left: 0;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}
@font-face{
font-family:'kukdetopokki';
src:url('../fonts/SDKukdetopokki-aLt.eot');
src:local(※),
	url('../fonts/SDKukdetopokki-aLt.woff') format('woff');
}
@font-face{
font-family:'kukdetopokkibold';
src:url('../fonts/SDKukdetopokki-bBd.eot');
src:local(※),
	url('../fonts/SDKukdetopokki-bBd.woff') format('woff');
}

@import "@scss/variables.scss";
@import "@scss/globalNavigationBar.scss";
@import "@scss/header.scss";
@import "@scss/footer.scss";
@import "@scss/navigation.scss";
