article.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  animation: modal-background 1s forwards;
  z-index: 100;
  & > section {
    opacity: 0;
    background-color: #fff;
    border: 1px solid #000;
    display: inline-block;
    padding: 20px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    animation: modal-screen .5s forwards;
    animation-delay: .2s;
    & > strong {
      display: block;
      font-family: 'kukdetopokkibold';
      font-size: 30px;
      white-space: nowrap;
    }
    & > input[type="text"] {
      width: 260px;
      padding: 10px 8px 2px;
      font-size: 25px;
      font-family: 'kukdetopokki';
      transition: 1s;
      border: none;
      border-bottom: 2px solid #333333;
      text-align: center;
      @media (max-width: 600px) {
        width: 240px;
        font-size: 24px;
      }
      &:focus {
        border-bottom: 2px solid rgb(4, 180, 255);
      }
    }
    & > div {
      margin-top: 15px;
      text-align: center;
      & > button {
        background-color: #fff;
        border: 1px solid #000;
        font-family: 'kukdetopokki';
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
        transition: .7s;
        animation: modal-button 200ms infinite linear;
        &:hover {
          animation: none;
          border: 1px solid rgb(4, 180, 255);
          box-shadow: 0 0 5px 0 rgba(4, 180, 255, 0.5);
        }
      }
    }
  }
}

@keyframes modal-background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-screen {
  0% {
    opacity: 0;
    left: 55%;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes modal-button {
  0% {
    box-shadow: 0 10px 20px rgba( 0,0,0, 0.2 );
    transform: rotateX( 0 ) rotateY( -360deg );
  }

  100% {
    box-shadow: 0 10px 20px rgba( 0,0,0, 0.2 );
    transform: rotateX( 360deg ) rotateY( -360deg );
  }
}