.nav-top-menu {
  position: relative;
  padding-top: 154px;

  & > #beforeNavContents {
    width: 100%;
    height: 140px;
    z-index: 10;
    position: absolute;
    top: 0;
    background: url("../images/navigation/img-background-before-contents.png")
      bottom center no-repeat;
  }
  & > ul {
    font-family: "kukdetopokki";
    width: 100%;
    position: absolute;
    top: auto;
    text-align: center;
    &.home {
      transition: 2s;
      opacity: 1;
      left: 0px;
    }
    &.hide {
      transition: 3s;
      opacity: 0;
      left: -9999px;
    }
    & > li {
      list-style: none;
      width: 46px;
      height: 180px;
      padding: 20px 60px;
      border-radius: 100px;
      display: inline-block;
      position: relative;
      writing-mode: tb-rl;
      & > div {
        height: 180px;
        width: 46px;
        position: absolute;
        & > a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          color: $nav-mnue;
          text-decoration: none;
          font-size: 30px;
          text-shadow: 4px 3px 20px $nav-shadow;
          border-radius: 0 0 16px 16px;
          transition: 0.5s;

          & > img {
            position: absolute;
            width: 10px;
            height: 64px;
            top: -50px;
            left: 17px;
          }
          & strong {
            position: absolute;
            height: 100%;
            top: 6px;
            left: 6px;
          }
        }
      }
      &:nth-child(1) > div a {
        background: url("../images/navigation/img-background-menu1.png") bottom
          center no-repeat;
        animation: move-menu1 2s infinite;
        animation-direction: alternate;
      }
      &:nth-child(2) > div a {
        background: url("../images/navigation/img-background-menu2.png") bottom
          center no-repeat;
        letter-spacing: 50px;
        & > a > strong {
          top: 10px;
        }
        animation: move-menu2 2s infinite;
        animation-direction: alternate;
      }
      &:nth-child(3) > div a {
        background: url("../images/navigation/img-background-menu3.png") bottom
          center no-repeat;
        letter-spacing: 14px;
        animation: move-menu3 3s infinite;
        animation-direction: alternate;
      }
      &:nth-child(4) > div a {
        background: url("../images/navigation/img-background-menu4.png") bottom
          center no-repeat;
        letter-spacing: 14px;
        animation: move-menu4 4s infinite;
        animation-direction: alternate;
      }
      &:nth-child(5) > div a {
        background: url("../images/navigation/img-background-menu5.png") bottom
          center no-repeat;
        letter-spacing: 50px;
        & > a > strong {
          top: 10px;
        }
        animation: move-menu5 3s infinite;
        animation-direction: alternate;
      }
    }

    &:hover li > div a {
      opacity: 0.5;
    }

    & li > div a:hover {
      animation-play-state: paused;
      opacity: 1;
      cursor: pointer;
    }
  }
  @media (max-width: 1024px) {
    & {
      display: none;
    }
  }
}

@keyframes move-menu1 {
  0% {
    transform: rotateZ(5deg) skewX(5deg);
    box-shadow: 2px 2px 3px 1px #2e2e2e;
  }
  100% {
    transform: skewX(0deg) skewY(-20deg);
    box-shadow: 0px 4px 3px 1px #2e2e2e;
  }
}
@keyframes move-menu2 {
  0% {
    transform: skewX(2deg) skewY(1deg);
    top: 0px;
    box-shadow: 1px 2px 3px 2px #585858;
  }
  100% {
    transform: rotateX(20deg) rotateZ(-3deg) skewX(-2deg);
    top: -5px;
    box-shadow: -1px 4px 3px 1px #2e2e2e;
  }
}
@keyframes move-menu3 {
  0% {
    transform: rotateY(-30deg);
    top: 0px;
    box-shadow: -4px 3px 3px 1px #2e2e2e;
  }
  50% {
    box-shadow: 1px 1px 2px 1px #2e2e2e;
  }
  100% {
    transform: rotateY(30deg);
    box-shadow: 4px 2px 2px 1px #585858;
  }
}
@keyframes move-menu4 {
  0% {
    transform: rotateX(-10deg) skewY(10deg);
    top: -5px;
    box-shadow: 3px -3px 3px 1px #2e2e2e;
  }
  50% {
    top: 8px;
    box-shadow: 0px 0px 3px 1px #2e2e2e;
  }
  100% {
    transform: skewY(-30deg);
    top: -5px;
    box-shadow: -3px -5px 3px 2px #585858;
  }
}
@keyframes move-menu5 {
  0% {
    transform: skewY(10deg) rotateY(-10deg);
    top: 2px;
    box-shadow: 3px 2px 3px 2px #585858;
  }
  100% {
    transform: rotateY(20deg) rotateZ(-3deg) skewX(-4deg) skewY(-10deg);
    top: -3px;
    box-shadow: -3px 2px 3px 1px #2e2e2e;
  }
}
