.nav-menu {
  & > ul {
    font-family: 'kukdetopokki';
    padding-right: 20px;
    text-align: center;
    & > li {
      list-style: none;
      width: 46px;
      height: 180px;
      padding: 20px 30px;
      border-radius: 100px;
      display: inline-block;
      position: relative;
      writing-mode: tb-rl;
      & > div{
        height: 180px;
        width: 46px;
        position: absolute;
        & > a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          color: $nav-mnue;
          text-decoration: none;
          font-size: 30px;
          text-shadow: 4px 3px 20px $nav-shadow;
          border-radius: 0 0 16px 16px;

          & > img {
            position: absolute;
            width: 10px;
            height: 60px;
            top: -46px;
            left: 17px;
          }
          & strong {
            position: absolute;
            height: 100%;
            top: -13px;
            left: 6px;
          }
        }
      }
      &:nth-child(1) > div a {
        background: url("../images/navigation/img-background-menu1.png") bottom center no-repeat;
        transform: skewY(-20deg);
        animation: skew1 3s infinite;
        animation-direction: alternate;
      }
      &:nth-child(2) > div a {
        background: url("../images/navigation/img-background-menu2.png") bottom center no-repeat;
        letter-spacing: 50px;
        & > a > strong {
          top: 10px;
        }
        transform: skewY(10deg);
        animation: skew2 2s infinite;
        animation-direction: alternate;
      }
      &:nth-child(3) > div a {
        background: url("../images/navigation/img-background-menu3.png") bottom center no-repeat;
        letter-spacing: 14px;
      }
      &:nth-child(4) > div a {
        background: url("../images/navigation/img-background-menu4.png") bottom center no-repeat;
      }
      &:nth-child(5) > div a {
        background: url("../images/navigation/img-background-menu5.png") bottom center no-repeat;
        letter-spacing: 50px;
        & > a > strong {
          top: 10px;
        }
      }
    }
  }
}

@keyframes skew1 {
  0% {
    transform: skewX(5deg);
  }
  100% {
    transform: skewX(0deg);
    transform: skewY(-20deg);
  }
}
@keyframes skew2 {
  0% {
    transform: rotateX(-30);
    transform: skewX(5deg);
    transform: skewY(3deg);
    top: 0px;
    box-shadow: 1px 2px 3px 1px #aaaaaa;
  }
  100% {
    transform: skewX(-5deg);
    transform: skewY(-3deg);
    transform: rotateX(30deg);
    top: -15px;
    box-shadow: 6px 7px 3px 5px #E6E6E6;
  }
}
