.develop-main {
  width: 100%;
  font-family:'kukdetopokki';
  & > div.header-group {
    margin-bottom: 30px;
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
    & > h1 {
      font-size: 30px;
    }
    & > span {
      display: block;
      text-align: right;
      font-size: 18px;
      & > strong {
        font-size: 20px;
        margin: 0 5px;
      }
    }
  }
  & ul.post-list {
    width: 100%;
    & > li {
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 30px;
      transition: .7s;
      &:hover {
        border: 1px solid #04b4ff;
        box-shadow: 1px 2px 3px 2px rgb(162, 162, 162);
      }
      &:hover div.post-prev-content > strong {
        background: linear-gradient(transparent 50%, rgb(187, 239, 255) 50%);
      }
      & > a > div {
        padding: 10px;
        &:hover > b.post-title {
          animation: post-title 200ms 3 linear;
          color: #04b4ff;
        }
        & b.post-title {
          display: block;
          font-size: 22px;
          color: #000;
          transition: 1s;
        }
        & > div.post-info-group {
          text-align: right;
          padding-top: 10px;
          & > div.post-prev-content {
            height: auto;
            max-height: 50px;
            width: 100%;
            overflow: hidden;
            display: block;
            text-align: left;
            font-size: 15px;
            margin-bottom: 5px;
            color: #333333;
          }
          & > strong.date-info {
            font-size: 16px;
            margin-left: 20px;
            color: #585858;
          }
          & > span.hashtag {
            font-size: 14px;
            color: #7d6b6b;
            margin-right: 7px;
            word-break: break-all;
            &::before {
              content: "#";
            }
          }

        }
      }
    }
  }
}

@keyframes post-title {
  0% {
    transform: rotateX( 0 ) rotateY( -360deg );
  }
  100% {
    transform: rotateX( 360deg ) rotateY( -360deg );
  }
}