.develop-main {
  width: 100%;
  font-family:'kukdetopokki';
  & > div.header-group {
    margin-bottom: 30px;
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
    & > h1 {
      font-size: 30px;
    }
    & > span {
      display: block;
      text-align: right;
      font-size: 18px;
      & > strong {
        font-size: 20px;
        margin: 0 5px;
      }
    }
  }
  & ul.post-list {
    width: 100%;
    & > li {
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 30px;
      & > div {
        padding: 10px;
        & a.post-title {
          font-size: 20px;
          color: #000;
          transition: 1s;
          &:hover {
            color: #04b4ff;
          }
        }
        & > div.post-info-group {
          text-align: right;
          padding-top: 10px;
          & > strong.date-info {
            font-size: 16px;
            margin-left: 20px;
            color: #585858;
          }
          & > span.hashtag {
            font-size: 14px;
            color: #7d6b6b;
            margin-right: 7px;
            &::before {
              content: "#";
            }
          }

        }
      }
    }
  }
}