.taort-main {
  width: 100%;
  font-family: "kukdetopokki";
  & > div.header-group {
    margin-bottom: 30px;
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
    & > h1 {
      font-size: 30px;
    }
    & > span {
      display: block;
      text-align: right;
      font-size: 18px;
      & > strong {
        font-size: 20px;
        margin: 0 5px;
      }
    }
  }
  & > div.screen-area {
    width: 100%;
    text-align: left;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    & > div.video-box {
      width: 60%;
      @media (max-width: 800px) {
        width: 100%;
      }
      & > div {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        & > iframe {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
    & > div.content-box {
      padding-left: 1%;
      width: 39%;
      @media (max-width: 800px) {
        width: 100%;
        padding: 10px 0 0 0;
      }
      & > .video-parameter {
        display: inline-block;
        width: 100%;
        & > h1 {
          font-size: 20px;
          margin-bottom: 15px;
          max-height: 42px;
          height: 42px;
          overflow: hidden;
        }
        & > p {
          font-size: 14px;
          white-space: pre-wrap;
          height: 232px;
          max-height: 232px;
          overflow-x: hidden;
          overflow-y: auto;
          @media (max-width: 800px) {
            height: auto;
            max-height: 210px;
          }
        }
        & dl {
          text-align: right;
          margin-top: 10px;
          @media (max-width: 800px) {
            margin-top: 5px;
          }
          & dt {
            display: inline;
            font-size: 10px;
            margin-left: 10px;
            background: linear-gradient(transparent 50%, rgb(200, 201, 206) 50%);
            &:nth-child(1) {
              margin-left: 0;
            }
          }
          & dd {
            display: inline;
            margin-left: 1px;
            font-size: 13px;
            &.view-count {
              background: linear-gradient(transparent 50%, rgb(187, 255, 221) 50%);
            }
            &.like-count {
              background: linear-gradient(transparent 50%, rgb(121, 175, 255) 50%);
            }
            &.comment-count {
              background: linear-gradient(transparent 50%, rgb(255, 175, 121) 50%);
            }
            &.published-at {
              background: linear-gradient(transparent 50%, rgb(247, 153, 255) 50%);
            }
          }
        }
      }
    }
  }
  & > div.list-area {
    margin-top: 15px;
    & > ul.video-list {
      display: flex;
      flex-wrap: wrap;
      & li {
        position: relative;
        width: 49%;
        margin-bottom: 15px;
        &:nth-child(even) {
          margin-left: 2%;
        }
        &:nth-child(odd) {
          margin: 0 0 15px 0;
        }
        @media (max-width: 800px) {
          width: 100%;
          &:nth-child(even) {
            margin-left: 0;
          }
        }
        & > div.video-parameter {
          display: inline-block;
          width: 100%;
          & > img {
            float: left;
            max-width: 200px;
            width: 30%;
            margin-right: 15px;
          }
          & > h1 {
            display: inline;
            font-size: 16px;
            @media (max-width: 800px) {
              font-size: 15px;
            }
          }
          & dl {
            text-align: right;
            margin-top: 10px;
            display: inline;
            position: absolute;
            bottom: 0;
            right: 0;
            @media (max-width: 800px) {
              margin-top: 5px;
            }
            & dt {
              display: inline;
              font-size: 10px;
              margin-left: 10px;
              background: linear-gradient(transparent 50%, rgb(200, 201, 206) 50%);
              &:nth-child(1) {
                margin-left: 0;
              }
            }

            & dd {
              display: inline;
              margin-left: 1px;
              font-size: 13px;
              &.view-count {
                background: linear-gradient(transparent 50%, rgb(187, 255, 221) 50%);
              }
              &.like-count {
                background: linear-gradient(transparent 50%, rgb(121, 175, 255) 50%);
              }
              &.comment-count {
                background: linear-gradient(transparent 50%, rgb(255, 175, 121) 50%);
              }
              &.published-at {
                background: linear-gradient(transparent 50%, rgb(247, 153, 255) 50%);
              }
            }
          }
        }
        &::after{
          clear: both;
        }
      }
    }
  }
  & .btn-group {
    padding: 20px 0 0 0;
    @media (max-width: 800px) {
      padding-bottom: 10px;
    }
  }
}
