.post-detail-list {
  padding: 20px 0;
  font-family: 'kukdetopokki';
  width: 100%;
  & > h3 {
    font-size: 20px;
    & > a {
      color: #0091b5;
    }
  }
  & > hr.post-hr {
    margin-bottom: 0px;
  }
  & > ul {
    width: 100%;
    &:hover li.curr-page {
      animation: hover-ani-state .6s infinite;
    }
    & li {
      width: 100%;
      font-size: 15px;
      padding: 10px 0 5px;
      border-bottom: 1px solid #585858;
      transition: .3s;
      &.curr-page {
        animation: hover-ani .3s infinite;
      }
      &:hover {
        animation: hover-ani .3s infinite;
      }
      & > a {
        width: 100%;
        color: #333333;
        display: inline-block;
        padding-left: 5px;
        & > strong {
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          float: left;
        }
        & > span {
          width: 80px;
          font-size: 12px;
          padding-top: 1.5px;
          float: right;
          color: #585858;
          display: block;
          &::after {
            clear: both;
          }
        }
      }
    }
  }
  & > .btn-group > button {
    font-family: 'kukdetopokki';
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
    font-size: 15px;
    transition: .5s;
    &:disabled {
      cursor: auto;
    }
    &.btn-prev {
      margin-right: 30px;
    }
    &.btn-next {
      margin-left: 30px;
    }
  }
}

@keyframes hover-ani {
  0% {
    background-color: #c1f1fd;
  }
  25% {
    background-color: #efa6ba;
  }
  50% {
    background-color: #c8a7f8;
  }
  75% {
    background-color: #fbeb89;
  }
  100% {
    background-color: #c1f1fd;
  }
}

@keyframes hover-ani-state {
  0% {
    background-color: #c1f1fd46;
  }
  25% {
    background-color: #efa6b938;
  }
  50% {
    background-color: #c7a7f841;
  }
  75% {
    background-color: #fbec8938;
  }
  100% {
    background-color: #c1f1fd46;
  }
}